### 데이터 타입의 이해

파이썬의 변수 타입은 자동으로 지정된다.(C언어 등과 차이)

In [1]:
a = 10
b = 183.4
c = 'A'
d = "아름다운 인천"
print('내 나이는', a)

내 나이는 10

그렇다면, 데이터 타입을 확인할 수 있는 방법은?

In [2]:
x = 17
type(x)

int

In [3]:
y = 3.14
type(y)

float

In [4]:
name = "gildong"
type(name)

str

In [5]:
ch = 'A'
type(ch) # 문자열이든, 문자이든 동일

str

3개의 변수 2000, 3.14, Seoul을 각각 입력한 후 type 함수를 사용하여 각 변수가 어떤 데이터 타입으로 지정되었는지 확인해보자

In [6]:
# 여기에 명령어를 써서 확인해보세요
a = 2000
type(a)

int

In [7]:
b = 3.14
type(b)

float

In [8]:
c = "Seoul"
type(c)

str

동적으로 데이터 타입을 변경했을 때 오류가 발생할까?

In [9]:
x=17
type(x)

int

In [10]:
x = 3.14

In [11]:
type(x)

float

In [12]:
x = 'gildong'

In [13]:
type(x)

str

데이터 타입 변환의 필요성

In [14]:
# 문자열을 정수로 바꿔보기
x = "2009"
y = "2000"

In [15]:
x - y

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
x = int("2009")
y = int("2000")
x - y

9

In [17]:
type(x)

int

In [18]:
# 문자열을 실수로 바꿔보기
r = "5.5"
pi = "3.14"

In [19]:
r * r * pi

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
# 여기에 수식을 작성하여 결과를 출력해보세요 ('float' 활용)
r = float(r)
pi = float(pi)
r * r * pi

94.985

In [21]:
float(r) * float(r) * float(pi)

94.985

In [ ]:
# float(r) * float(r) * float(pi)로도 가능하다

정수와 실수의 정확도 비교하기

In [22]:
# 정수에서는 파이썬이 자동적으로 가변 크기를 준다
n1 = 10
n2 = 30
n3 = 1234567890
n4 = 12345678901234567890

In [23]:
import sys
sys.getsizeof(n1)

28

In [24]:
sys.getsizeof(n2)

28

In [25]:
sys.getsizeof(n3)

32

In [26]:
sys.getsizeof(n4)

36

In [27]:
# 실수는 값의 크기 및 정밀도와 상관없이 항상 14byte
f1 = 1.1
f2 = 1.2345
f3 = 1.234567890123456789012345

In [31]:
sys.getsizeof(f1)

24

In [29]:
sys.getsizeof(f2)

24

In [30]:
sys.getsizeof(f3)

24

In [32]:
print(f3)

1.2345678901234567

-------------

--------------

### input 함수 사용법

In [33]:
input()

lll

'lll'

In [34]:
home = input()
print("아름다운", home, "이 내 고향입니다.")

인천
아름다운 인천 이 내 고향입니다.

In [35]:
# 입력메세지 함께 넣기
input("어떤 음료를 드시겠어요? : ")

어떤 음료를 드시겠어요? : 주스

'주스'

아래 예시와 같이 좋아하는 색상과 좋아하는 동물을 물어본 후 답해주는 프로그램을 작성해보자.  

무슨 색을 좋아해요? 파란색  
어떤 동물을 좋아해요? 강아지  
그럼 파란색 강아지 를 좋아하겠군요.

In [ ]:
# 여기에 코드를 작성한 후 실행해보세요.

정수 값과 실수 값 입력 받기

In [36]:
# 코드 실행 - 오류 발견
year = input("몇 년도에 태어났나요? ")
age = 2022-year+1
print("그럼 올해", age, "살 이겠군요")

몇 년도에 태어났나요? 2004

TypeError: unsupported operand type(s) for -: 'int' and 'str'

자료형을 변환해주는 '형 변환' 함수 중 int 사용

In [38]:
# 해결 방법 1 - 위에서 배웠던 데이터 타입 변환
year = input("몇 년도에 태어났나요? ") 
age = 2022-int(year)+1
print("그럼 올해", age, "살 이겠군요")

몇 년도에 태어났나요? 2004
그럼 올해 19 살 이겠군요

In [39]:
# 해결 방법 2 - input 함수로 입력받는 부분에 int 함수 사용하기
year = int(input("몇 년도에 태어났나요? "))
age = 2022-year+1
print("그럼 올해", age, "살 이겠군요")

몇 년도에 태어났나요? 2004
그럼 올해 19 살 이겠군요

#### 주차료 계산 응용문제 풀이  

A 학교는 외부인들에게 아래와 같은 주차요금을 부여하고 있다.  
15분 단위로 1,000원의 요금을 부여한다.  
즉, 분 단위로 표로 정리하면 아래와 같다.  

0분 ~ 14분 : 0원  
15분 ~ 29분 : 1,000원  
30분 ~ 44분 : 2,000원  
45분 ~ 59분 : 3,000원  

위의 기준에 근거하여 주차 시간을 분 단위 시간으로 입력받아 주차 요금을 계산해주는 프로그램을 작성해보자. 아래와 같은 형식으로 실행되도록 프로그램을 작성해보자.  

=== 주차료 계산 프로그램 ===  
주차시간 입력: 25  
주차시간: 25  
주차요금: 1000

In [ ]:
# 여기에 명령어를 사용하여 문제를 풀이해보세요.

자료형을 변환해주는 '형 변환' 함수 중 float 사용

In [41]:
# 오류 확인 -> 직접 오류를 수정해보세요.
radius = float(input("원의 반지름을 입력하세요 : "))
pi = 3.14
area = radius ** 2 * pi
print("반지름이", radius, "인 원의 넓이를 계산합니다.")
print("원의 넓이는", area, "입니다.")

원의 반지름을 입력하세요 : 3.5
반지름이 3.5 인 원의 넓이를 계산합니다.
원의 넓이는 38.465 입니다.

### 포맷에 맞추어 출력하기

양식 문자의 종류와 사용 이유는 PPT 참고

In [42]:
# 설명을 보다 더 이해하기 쉽게 코드 참고
name = '홍길동'
age = 17
weight = 58.7
print('내 이름은', name, '입니다.')
print('나는', age, '살 입니다.')
print('나의 몸무게는', weight, 'kg입니다.')

내 이름은 홍길동 입니다.
나는 17 살 입니다.
나의 몸무게는 58.7 kg입니다.

In [43]:
name = '홍길동'
age = 17
weight = 58.7
print('내 이름은 %s 입니다.' %name)
print('나는 %d살 입니다.' %age)
print('나의 몸무게는 %f kg입니다.' %weight)

내 이름은 홍길동 입니다.
나는 17살 입니다.
나의 몸무게는 58.700000 kg입니다.

In [44]:
# 한 개의 양식 문자 사용
x = 5
'x의 값은 %d 입니다' %x

'x의 값은 5 입니다'

In [45]:
height = 167.5
'내 키는 %f cm 입니다' %height

'내 키는 167.500000 cm 입니다'

In [46]:
height = 167.5
text = '내 키는 %f cm 입니다' %height
print(text)

내 키는 167.500000 cm 입니다

In [47]:
# 두 개 이상의 양식 문자 사용법
kor = 90
eng = 80
'국어는 %d점이고 영어는 %d점입니다' % (kor, eng)

'국어는 90점이고 영어는 80점입니다'

In [48]:
x = 7
y = 8
'%d와 %d를 곱한 값은 %d입니다' % (x, y, x*y)
# 형식과 변수 값 수가 안맞으면 오류 발생.

'7와 8를 곱한 값은 56입니다'

자릿수 확인 문제

In [49]:
측정1 = 363.719
측정2 = 485.52
측정3 = 559.19
합계 = 측정1+측정2+측정3
평균 = 합계/3
print("합계 :", 합계)
print("평균 :", 평균)

합계 : 1408.429
평균 : 469.47633333333334

In [50]:
# %10.2f라는 형식의 양식문자 사용
# 실수 값을 출력하며 10칸을 사용, 소수점 2째자리까지 표현(셋째자리에서 반올림)
측정1 = 363.719
측정2 = 485.52
측정3 = 559.19
합계 = 측정1+측정2+측정3
평균 = 합계/3
print("합계 : %10.2f" % 합계)
print("평균 : %10.2f" % 평균)

합계 :    1408.43
평균 :     469.48

format 함수 사용법 종류는 PPT 참고

In [51]:
# 천 단위 쉼표
n = 123456789
n

123456789

In [52]:
format(n, ',')

'123,456,789'

In [53]:
# 소수점 자리수
n = 1234567890.12345
format(n, '.2f') # 소수점 둘째자리

'1234567890.12'

In [54]:
# 전체 자리수 지정
n = 12345
format(n, '10')

'     12345'

In [55]:
# 전체 자리수는 15, 소수점 셋째자리까지 표현하도록 지정해서 출력해보기
n = 12345123.456789012
format(n, '15.3f')

'   12345123.457'

In [56]:
# 좌우 정렬
n = 12345
format(n, '10')

'     12345'

In [57]:
format(n, '<10')

'12345     '

In [58]:
format(n, '>10')

'     12345'

In [59]:
# 포맷을 복합적으로 사용해보기
# 우측 정렬, 15칸 사용, 천 단위 쉼표, 소수점 2자리의 포맷 모두 적용해보기
N = 12345.12345
format(N, '>15,.2f')

'      12,345.12'

In [60]:
# 좌측 정렬, 8칸 사용, 천 단위 쉼표, 소수점 1자리까지 포맷 적용 출력해보기
N = 56789.56789
format(N, '<8,.1f')

'56,789.6'

문자열 객체의 format 사용 종류는 PPT 참고

In [61]:
# 괄호 { } 안에 값 입력하기
x = 10
"x is {}".format(x)

'x is 10'

In [62]:
"I am {} years old".format(18) # 직접 값 입력도 가능

'I am 18 years old'

In [63]:
# 두 개 이상의 파라미터
x = 10
y = 20
'x is {} and y is {}'.format(x, y)

'x is 10 and y is 20'

In [64]:
# 괄호 안의 값의 순서 지정하기
'x is {1} and y is {0}'.format(10, 20)

'x is 20 and y is 10'

In [65]:
# 정수와 실수 표현
x = 15
y = 15 * 15 * 3.141592
'반지름 = {0}, 원넓이 = {1}'.format(x, y)

'반지름 = 15, 원넓이 = 706.8582'

In [66]:
# 1번째 값을 십진수 정수로, 2번째 값을 소수점 두자리 실수 값으로 표현한다
'반지름 = {0:d}, 원넓이 = {1:.2f}'.format(x, y)

'반지름 = 15, 원넓이 = 706.86'

#### 활용 문제 풀이

한화로 금액을 입력받아 달러로 환전할 경우 얼마인지 알려주는 프로그램을 작성하시오. 환전 후의 잔액은 무시. 1달러는 1,135원으로 계산할 것.  

한화 금액 입력 -> 15000000  
입금액: 15,000,000 원화  
환전액: 13,215 달러

In [84]:
# 여기에서 문제를 풀어보세요.
money = int(input('한화 금액 입력->'))
money2 = format(money, ',')
print('입금액: %s 원화' %money2)
money3 = format(money//1135, ',')
print('환전액 : %s 달러' %money3)

한화 금액 입력->15000000
입금액: 15,000,000 원화
환전액 : 13,215 달러