### 튜플과 리스트

#### 리스트

한 반의 50명의 학생 정보를 입력하려면 각각의 변수를 모두 만드는 것이 아니라. '리스트'를 사용하여 여러 명의 성적을 입력하여 확인하는 방식이 효율적이다.

In [1]:
scores = [90, 80, 75, 85, 100]
print(scores)
avg = sum(scores) / 5
print(avg)

[90, 80, 75, 85, 100]
86.0

In [2]:
# 리스트 만들기 - 1
a = []
print(a)

[]

In [3]:
# 리스트 만들기 - 2
a = list()
print(a)

[]

In [4]:
# 여러 값이 있는 리스트 만들기
a = [10, 20, 30]
print(a)

[10, 20, 30]

In [5]:
a = list([10, 20, 30])
print(a)

[10, 20, 30]

In [6]:
# 다양한 자료형 리스트에 넣기
a = [10, 20, 30]
b = [1.1, 2.2, 3.3]
c = ['kim', 'park', 'choi', 'lee']

In [7]:
# Matrix 즉, 행렬 구조. 원소로 리스트 사용 가능
a = [[1,2,3], [4,5,6], [7,8,9]]
b = [[1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]

In [8]:
# 서로 다른 데이터 타입
a = [1, 'kim', 3.14]
b = [2, "park", [1,2]]

규칙을 통해 증감하는 수열의 리스트 만들기(range 사용)

In [9]:
a = [1,2,3,4,5]
# a = [1,2,3,4, ... , 99, 100]

In [ ]:
# range 함수 :
# range(시작값, 종료값, 증가값)을 통해 연속된 값을 만들어주는 함수

In [10]:
a = list(range(1, 10, 1))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a = list(range(10,51,10))
print(a)

[10, 20, 30, 40, 50]

In [12]:
a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [13]:
a = list(range(3,7))
print(a)

[3, 4, 5, 6]

In [14]:
# 값을 감소시키고 싶다면 음수값을 증가값으로 입력
a = list(range(10, 0, -2))
print(a)

[10, 8, 6, 4, 2]

리스트 생성 응용 문제  

30부터 시작하여 60전까지 7씩 증가하는 수열의 리스트를 생성하고 출력하는 프로그램을 작성하시오. range 함수를 사용하여 수열을 생성하시오.

In [15]:
# 여기에 함수 등을 사용하여 프로그램을 작성하세요.
a = list(range(30, 60, 7))
print(a)

[30, 37, 44, 51, 58]

In [16]:
# 리스트의 길이 확인
a = list(range(1, 11, 1))
len(a)

10

In [17]:
text = "hello python!"
len(text)

13

인덱스로 리스트 접근하기

리스트 내에 있는 항목들은  

리스트 이름 [ 위치 번호 ]  

형식으로 항목의 값을 접근 및 사용할 수 있다. 보통은 index(인덱스)라고 부른다.

In [18]:
a = [10, 20, 30]
a[1]
# 이 때 위치 번호는 0부터 시작하는 것을 주의해야.

20

In [19]:
a[3]

IndexError: list index out of range

In [20]:
# 특정 항목 값 변경도 가능
a = [10, 20, 30]
a[0] = 100
a[1] = 200
a[2] = a[0]+a[1]
print(a)

[100, 200, 300]

리스트에 값 추가하기

In [21]:
# append : 리스트 맨 뒤에 항목 추가
c = [10, 20, 30]
c.append(40)
c.append(50)
print(c)

[10, 20, 30, 40, 50]

In [22]:
# insert : 특정 위치에 항목 추가
a = [1,2,3,4,5]
print(a)
a.insert(1, 10)
print(a)
# 기존의 값이 지워지는 것이 아니라 뒤로 미뤄지는 방식

[1, 2, 3, 4, 5]
[1, 10, 2, 3, 4, 5]

In [23]:
a.insert(0,20)
print(a)

[20, 1, 10, 2, 3, 4, 5]

리스트에 반복문 활용하기

In [24]:
# 리스트 내 모든 항목 값 출력 소스코드는 아래와 같다.
a = [1,2,3,4,5]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [25]:
# 반복문을 활용하면 효율적으로 출력 가능
# 리스트의 항목 개수만큼 반복하면서 변수(item)에 값들이 차례로 입력됨
for item in a :
    print(item)

1
2
3
4
5

In [26]:
# 문자열에서도 가능
a = ['kim', 'lee', 'park']
for str in a :
    print(str)

kim
lee
park

리스트 응용 문제  

5명의 성적을 리스트에 입력받아(90,80,75,85,100) 합계와 평균을 출력하는 프로그램을 만들어보자.

In [ ]:
# 여기에 문제를 풀어보세요.

In [27]:
# 두 개의 리스트 연결하기
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [28]:
# extend함수 대신 더하기(+) 연산자 사용도 가능.
a = [1,2,3]
b = [4,5,6]
c = a+b # c = a.extend(b)
print(c)

[1, 2, 3, 4, 5, 6]

수식을 사용한 리스트 생성

In [29]:
# base code
xlist = list(range(0, 10, 1))
print(xlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
# x값의 리스트를 생성한 뒤, x값을 사용하여
# y=5x+10이라는 수식의 y값에 대한 리스트 생성해보기

ylist = []
for x in xlist :
    y = 5*x+10
    ylist.append(y)

print(xlist)
print(ylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

In [31]:
# 더 간단하게!
xlist = list(range(0,10,1))
ylist = [5*x+10 for x in xlist]

print(xlist)
print(ylist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 15, 20, 25, 30, 35, 40, 45, 50, 55]

다양한 리스트 활용 함수들의 종류는 PPT 참고

In [32]:
# count 함수 : 특정 값이 리스트에 몇 개 있는지 검사
a = [10, 20, 10, 20, 10]
a.count(10)

3

In [33]:
# 리스트 a에 30이란 값이 몇 개 있는지 검사해보세요.
a.count(30)

0

In [34]:
# remove 함수 : 리스트 안에 특정 값을 찾아서 모두 지운다.
a = [10, 20, 30, 40, 50]
print(a)

[10, 20, 30, 40, 50]

In [35]:
a.remove(30)
print(a)

[10, 20, 40, 50]

In [36]:
# 삭제하고자 하는 값이 여러 개일때
a = [10, 20, 30, 10, 20]
# 10을 삭제하는 코드를 작성해보세요.
a.remove(10)

In [37]:
print(a)
# 여러 개 중에 맨 앞에 있는 한 개의 값만 삭제된다.

[20, 30, 10, 20]

In [38]:
a.remove(50) # 없는 값을 삭제하면 valueError

ValueError: list.remove(x): x not in list

In [39]:
# index 함수 : 리스트 내 특정 값의 위치를 찾아줌
a = [1,2,3,4,5]
a.index(3)

2

In [40]:
a.index(7) # 존재하지 않는 값은 에러

ValueError: 7 is not in list

In [41]:
# sort 함수 : 리스트 항목들을 크기 순서로 정렬
a = [10,20,30,40,50]
a.insert(2,100)
print(a)

[10, 20, 100, 30, 40, 50]

In [42]:
a.sort()
print(a)

[10, 20, 30, 40, 50, 100]

In [43]:
# reverse 함수 : 현재 리스트의 순서 반대 방향으로 바꾸기
a.reverse()
print(a)

[100, 50, 40, 30, 20, 10]

In [44]:
# pop 함수 : 리스트의 맨 끝에 있는 값 리턴, 그 값은 리스트에서 삭제
a = [10, 20, 30, 40, 50]
a.pop()

50

In [45]:
a.pop()

40

In [46]:
print(a)

[10, 20, 30]

#### 튜플

튜플 생성하는 법

리스트와 튜플은 여러 자료를 연속적으로 저장하는 자료 형태라는 점에서 동일. 사용법도 유사하다.  
아래의 예를 살펴보면 두 개의 자료형이 역할과 사용법이 거의 동일하다는 것을 알 수 있다.  
표기법에만 차이가 존재한다.

In [47]:
mylist = [10,20,30,40,50] # 대괄호
mytuple = (10, 20, 30, 40, 50) # 소괄호
print(mylist)
print(mytuple)

[10, 20, 30, 40, 50]
(10, 20, 30, 40, 50)

**리스트와 튜플 같은 점**  
여러 자료를 연속 저장, 액세스 방법 유사, len, in, index 사용 동일

In [48]:
mytuple = (10, 20, 30, 40, 50)
len(mytuple)

5

In [49]:
30 in mytuple # 튜플에 해당 값이 존재하는지 확인

True

In [50]:
mytuple[1]

20

In [51]:
for x in mytuple :
    print(x)

10
20
30
40
50

**리스트와 튜플 차이점**  
'자료가 변경될 수 있는가?'의 차이  
리스트는 프로그램 실행 중 항목 추가 및 삭제가 가능하지만  
튜플은 한 번 생성되면그 항목이 추가되거나 삭제될 수 없다

In [52]:
mylist = [10,20,30,40,50]
mylist.append(60)
mylist.insert(2,100)
mylist.remove(20)
print(mylist)

[10, 100, 30, 40, 50, 60]

In [53]:
mytuple =(10,20,30,40,50)
mytuple.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [54]:
mytuple.insert(2,100)

AttributeError: 'tuple' object has no attribute 'insert'

In [55]:
mytuple.remove(20)

AttributeError: 'tuple' object has no attribute 'remove'

In [56]:
print(mytuple)

(10, 20, 30, 40, 50)

In [ ]:
# 튜플의 값 추가 및 삭제가 하고싶다면
# 리스트로 변환 후 추가, 삭제 진행 -> 새로운 튜플 만들기

In [57]:
mytuple =(10,20,30,40,50)
mylist = list(mytuple)
mylist.append(60)
mylist.insert(2,100)
mylist.remove(20)
newtuple = tuple(mylist)
print(newtuple)

(10, 100, 30, 40, 50, 60)

In [58]:
# 튜플은 괄호 생략 또한 가능하다
t = (10, 20, 30)
t1 = 10, 20, 30
print(t)
print(t1)

(10, 20, 30)
(10, 20, 30)

튜플 응용 문제 풀이  

'A','B','C','D',E'의 문자 값들을 갖는 튜플을 생성하고 인덱스를 사용하여 앞의 2개 항목의 값들을 출력하시오.

In [59]:
# 여기에 문제를 풀이해주세요.
tt = ('A', 'B', 'C', 'D', 'E')
print(tt[0])
print(tt[1])

A
B

### 딕셔너리

영어 단어 그대로 해석하면 사전.  
우리가 배우고자 하는 딕셔너리는 사전의 구조를 생각하면 이해하기 쉽다.  
사전은 단어에 대한 정의 또는 번역이 적혀있는 책으로 '찾는 단어 - 의미' 라는 쌍으로 표현이 가능하다.  

파이썬의 딕셔너리 구조 또한 위의 개념으로 이해할 수 있다.  
key - value 라는 쌍이 하나의 데이터 묶음으로 하여 이 데이터들이 리스트와 같이 연속적으로 구성된다.

딕셔너리에 값을 입력하기

In [60]:
# 딕셔너리는 중괄호 {}를 사용하여 항목을 입력한다. key : value를 쌍으로 입력하고
# 콜론(:)으로 key와 value를 구분한다.

dict = { '강아지' : 'dog', '고양이' : 'cat', '새' : 'bird'}
dict

{'강아지': 'dog', '고양이': 'cat', '새': 'bird'}

In [61]:
# key 또는 value들만 출력하기 -> 리스트 구조로 리턴
dict.keys()

dict_keys(['강아지', '고양이', '새'])

In [62]:
dict.values()

dict_values(['dog', 'cat', 'bird'])

In [63]:
# 정확히 list로 반환하려면
kList = list(dict.keys())
kList

['강아지', '고양이', '새']

딕셔너리 항목 검색하기

In [64]:
# 특정 키 값이 딕셔너리에 우선 존재하는지 확인
# (찾는 키값) in (딕셔너리 명)
dict = { '강아지' : 'dog', '고양이' : 'cat', '새' : 'bird'}
'강아지' in dict

True

In [65]:
'사슴' in dict

False

In [66]:
# 특정 키 값에 대한 value 가져오기 - 1
dict = { '강아지' : 'dog', '고양이' : 'cat', '새' : 'bird'}
dict['강아지']

'dog'

In [67]:
# 특정 키 값에 대한 value 가져오기 - 2
dict = {"홍길동":"010-1111-2222", "이순신":"010-3333-4444"}
dict.get("홍길동")

'010-1111-2222'

딕셔너리 응용문제  

국어 성적 90, 영어 성적 70, 수학 성적 80 점을 딕셔너리에 저장하고 사용자로부터 과목 이름을 입력받아 해당 점수를 알려주는 프로그램을 만들어보자.

In [ ]:
# 여기에 프로그램을 작성해주세요.

딕셔너리에 항목 추가하기 및 삭제하기

In [68]:
mydict = {} # 빈 딕셔너리 만들기
mydict['이순신'] = '010-3333-4444'
mydict['홍길동'] = '010-1111-2222'
print(mydict)

{'이순신': '010-3333-4444', '홍길동': '010-1111-2222'}

In [69]:
# 특정 항목 삭제
del mydict['이순신']
print(mydict)

{'홍길동': '010-1111-2222'}

In [70]:
# 전체 항목 삭제
mydict = {"홍길동":"010-1111-2222", "이순신":"010-3333-4444"}
mydict.clear()
print(mydict)

{}

In [71]:
del mydict
print(mydict) #아예 할당된 공간이 사라지는

NameError: name 'mydict' is not defined

딕셔너리 내장 함수 및 반복문 활용 -> PPT 참고하기

In [72]:
# 딕셔너리의 모든 key 값 출력하기
mydict = {'kim' : '1111', 'park' : '2222', 'lee' : '3333'}
keyList = mydict.keys()
for x in keyList : 
    print(x)

kim
park
lee

In [73]:
for x in mydict.keys() : 
    print(x)

kim
park
lee

In [74]:
# 전체 출력
for k in mydict.keys() : 
    v = mydict[k]
    print("{0:10s} {1:10s}".format(k, v))

kim        1111
park       2222
lee        3333

In [75]:
# item 함수를 사용하여 모두 출력도 가능
for item in mydict.items() :
    print(item) # 튜플로 반환
    print(item[0])
    print(item[1])

('kim', '1111')
kim
1111
('park', '2222')
park
2222
('lee', '3333')
lee
3333